
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border box;
}

body
{
    height: 100vh;
    width: 100%;
}

.navbar {
    height: 60px;
    display: flex;
align-items: center;
justify-content: space-evenly;
    background-color: black;
    color: white;
}

.bar
{

    height: 90%;
    width: 150px;
}

.bar:hover
{
    cursor: pointer;
    border: 2px solid white;
}
.logo
{
    background-image: url("logo.jpeg");
    background-size: cover;
    background-position: center;
}

.loc
{
    margin-left: 7px;
    padding-left: 10px;
    position: relative;
    top: 10px;
height: 20px;
width: 80%;


}

.delivery p
{
    position: absolute;
    bottom: 0;
    padding-left: 20px;
    font-size: 0.9rem;
}

.country 
{
    padding-top: 5px;
    font-size: 1.09rem;
    font-weight: bold;
}

.searchbar
{
    display: flex;
    justify-content: center;    
    height: 60px;
width: 990px;

}

.category
{
border-right: none;
    height: 40px;
    width: 50px;
    position: relative;
    top: 15px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.sub-category:hover
{
    cursor: pointer;
}

.sub-category
{
    border: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.searchitems
{
border: none;
    height: 41px;
    width: 100%;
    position: relative;
    top: 15px;
}

.searchicon
{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 50px;
    font-size: 20px;
    position: relative;
    top: 15px;
    background-color:rgb(239, 178, 65);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.searchicon:hover
{
    cursor: pointer;
    background-color:rgb(209, 146, 30);

}

.sub-category
{
    height: 100%;
    width: 100%;
}

#search
{
    height: 90%;
    width: 100%;
}

.language
{
display: flex;
justify-content: center;
font-size: 15px;
width: 80px;
}

.flag
{
    position: relative;
top: 35px;
margin: 2px;
left: 8px;
}

.hello
{
    width: 250px;
}
.inner-hello
{
    margin-left: 13px;
    padding-left: 3px;
    position: relative;
    top: 7px;
    height: 20px;
width: 85%;
}

.hello1-content
{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
}

.hello2-content
{
    padding-top: 5px;
    font-size: 1.09rem;
    font-weight: bold;
}

.inner-return
{
    margin-left: 7px;
    padding-left: 10px;
    position: relative;
    top: 5px;
height: 22px;
width: 80%;
}

.returns-content
{
    position: absolute;
    bottom: 0;
    font-size: 0.9rem;
}
.orders-content
{
    padding-top: 5px;

    font-size: 1.09rem;
    font-weight: bold;
}

.cart-content
{
    position: relative;
    top: 25px;
    left: 8px;
    font-size: 25px;   
}

.cart
{
    width: 120px;
}



.second-header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    background-color: grey;
    color: black;

}

.second-header a
{
    color: black;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid black;
    cursor: pointer;
    color: black;
}

.items {
    width: 70%;
}

.items p {
    display: inline;
    margin-left: 10px;
}

.bgimage {
    display: flex;
    height: 600px;
    width: 100%;
    background-image: url(backgroundimage.jpg);
    background-size: cover;
}

.first-layout {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 250px;
    height: 1100px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    z-index: 2;
}

.second-layout {

    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 700px;
    height: 400px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}


.layout-border {

    margin: 20px;
    height: 450px;
    width: 300px;

    flex: 1 1 20%;
    background-color: white;
    position: relative;
}

.another-image {
    position: absolute;
    left: 15px;
    top: 80px;
    height: 75%;
    width: 90%;
    border: 2px solid transparent;
}

.another-image:hover {
    border: 2px solid black;
}

.link {
    position: absolute;
    bottom: 5px;
    height: 10px;
    width: 60px;
    font-size: 0.8rem;
}

a {
    text-decoration: none;

}

a:hover {
    color: rgb(48, 90, 188);
}

.inner2 a {
    color: black;

}




.inner1 {
    padding: 10px;
    /*     padding-top: 10px;
    padding-left: 10px; */
    height: 40px;

}

.inner2 {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    height: 75%;
    padding-top: 20px;

}

.innerborder {
    margin: 10px;
    height: 90px;
    width: 100px;

    flex: 1 1 28%;
}

img {
    height: 100%;
    width: 100%;
}


.image-and-text {

    margin: 10px;

    height: 140px;
    width: 133px;

    position: relative;
    flex: 1 1 30%;
}

.image {
    height: 90%;
    width: 100%;
    border: 2px solid transparent;
}

.image:hover {
    border: 2px solid black;
}



.text {
    font-size: 0.65rem;
    bottom: 0px;
    height: 20px;
    width: 100%;
}



.best_seller_books
{
    position: relative;
    top: 700px;
    height: 270px;
margin: 20px;
background-color: white;
overflow-x: auto;   
overflow: hidden;
}


.best_seller_books:hover
{
    overflow-x: auto;   

}



.book_text p
{
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.book_image
{
   display: flex;
    position: absolute;
    top: 30px;
    left: 10px;
   margin-top: 10px;
   height: 200px;
   max-width: 98%;

}

.book_image a
{

    margin-right: 15px;

}

.book_image_content
{

display: inline-block;
margin: 10px;
    height: 83%;
    width: 120px;

}

.book_image_content img
{
object-fit: auto;
}

.book_image_content img:hover
{
    box-shadow: 5px 5px 10px 2px rgb(128, 128, 128,0.6) ;
}

















.second-background-image {
position: absolute;
    height: 2000px;
    width: 100%;
    background-color: #e3e6e6;
}


.box
{
    height: 100px;
    width: 100px;
    border: 2px solid black;
}


footer
{
    position: relative;
bottom:0px;
width: 100%;
}



/* section-third */

.section-third
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    height: 200px;
    background-color: white;
}


.another-signin-option
{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 110px;
width: 500px;

}

.group
{
    margin-top: 5px;
}

.info p
{
    display: inline;

}

.signbutton
{
display: inline;
border: none;
font-size: 1.1rem;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #fbbd21;
    border-radius: 8px;
}

.signbutton:hover
{
    cursor: pointer;
    background-color: #f4b109;
    box-shadow: 2px 2px 5px 3px rgb(128, 128, 128,0.6) ;
}

/* go-to-top */

.go-to-top
{
display: flex;
justify-content: center;
align-items: center;

    height: 50px;
    background-color: #37495e;
}

.go-to-top:hover
{
    cursor: pointer;
    background-color: #6c8eb6;
}




/* // header section */


.bottom {
    position: relative;
    bottom: 0;
    height: 700px;
    width: 100%;
    background-color: #131a22;
    color: white;
}

.bottom a {
    color: white;
}

 .first-line {
font-size: 16px;
} 

.second-line {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.755);
}

.bottom a .second-line:hover {
    text-decoration: underline white 1px;
}

.bottom_content_container {
    display: flex;
    margin-left: 100px;
    height: 150px;
    width: 100%;
}

.bottom-content {
    padding-top: 0px;
    margin-top: 30px;
    margin-right: 60px;
    display: inline;
    height: fit-content;
    width: 130px;
}
